<div class="row justify-content-center">
  <div class="col-md-9">
    <div class="" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input email type="email" name="email" id="email" class="form-control" placeholder="" ngModel required>
            <!-- <div *ngIf="expression" class="alert alert-danger" role="alert">
              Email is required
            </div> -->
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" minlength="6" name="password" ngModel required id="password" class="form-control" placeholder="">
          </div>
        </div>
        <div class="col-12">
          <button type="submit" [disabled]="!authForm.valid" class="btn btn-primary" >{{ isLoginMode ? 'Login now!' : 'Sign up now!' }}</button> |
          <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Back to {{isLoginMode ? 'Sign up' : 'login'}} now!</button>
        </div>
      </div>
    </form>
  </div>
</div>

