<div class="row">
  <div class="col-md-12 mb-2">
    <img [src]="recipe.imagePath" alt="" class="img-responsive">
  </div>

  <div class="col-md-12 mb-2">
    <h1>{{recipe.name}}</h1>
  </div>

  <div class="col-md-12 mb-2">

    <div class="dropdown" appDropdown>
      <a class="btn btn-secondary dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
        Manage ingridents
      </a>

      <div class="dropdown-menu "  aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" (click)="onAddShoppingList()" >To shopping list</a>
        <a class="dropdown-item" (click)="onEditRecipe()">Edit recipe</a>
        <a class="dropdown-item" (click)="onDeleteRecipe()">Delete recipe</a>
      </div>
    </div>
    <!-- <div class="btn-group" role="group" appAppDropdown>
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" >
        Manage ingridents
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">To shopping list</a>
        <a class="dropdown-item" href="#">Edit recipe</a>
        <a class="dropdown-item" href="#">Delete recipe</a>

      </div>
    </div> -->
  </div>

  <div class="col-md-12 mb-2">
    <p>{{recipe.description}}</p>
  </div>

  <div class="col-md-12 mb-2">
    <div class="card">
      <div class="card-header">
        Ingridents
      </div>
      <ul class="list-group list-group-flush">

        <li class="list-group-item" *ngFor="let ingrident of recipe.ingridents">
          {{ingrident.name}} ({{ingrident.amount}})
        </li>

      </ul>
    </div>
  </div>
</div>
